.detailsContainer {
  width: 100%;
  margin-inline: auto;
  /* position: relative; */
  /* box-shadow: 0 0 12px var(--shadow); */
  border-radius: 1rem;
}
.detailsContainer h2 {
  font-size: 2.8rem;
  margin: 0.5rem auto 2rem;
  color: var(--accentClr);
  border-bottom: 2px solid var(--accentClr);
  width: fit-content;
}
.image,
.image img {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  inset: 0;
}
.image {
  /* top: 60px; */
  /* height: 100vh; */
  overflow: hidden;
  z-index: -1;
}
/* .image img {
  top: 60px;
  aspect-ratio: 1.777 / 1;
} */
.image::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--bgOverlay);
  background: linear-gradient(0deg, var(--bgClr) 5%, var(--bgOverlay) 30%);
}
.details {
  /* padding: 1rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  /* padding: 1rem; */
  border-radius: 1rem;
}
/* .mainWrapper {
} */
/* .left {
  background-color: aquamarine;
}
.right {
  background-color: rgb(58, 58, 58, 0.1);
} */
.left {
  display: grid;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.left img {
  width: 16px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.left p {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  /* color: var(--lightClr); */
}
.left p svg {
  font-size: 1.2rem;
}
.left .descWrapper {
  font-weight: bold;
}
.desc {
  margin-left: 0.2rem;
}
.desc p {
  font-weight: 400;
  font-size: 16px;
  display: inline;
}
.descWrapper .toggleBtn {
  background: transparent;
  box-shadow: none;
  padding: 0;
  display: inline-block;
  color: var(--fgClr);
  text-decoration: underline;
  font-size: 12px;
  margin-left: 0.2rem;
}
.left p span {
  color: var(--accentClr);
  /* font-weight: 400; */
}
span.platforms {
  gap: 0.4rem;
}
.left a {
  color: var(--accentClr);
  text-decoration: underline;
  cursor: pointer;
  word-break: break-all;
}
.ratingList {
  font-weight: bold;
  font-size: 14px;
}
.ratingList ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.3rem;
}
.ratingList ul li {
  display: flex;
  align-items: center;
}
.ratingList ul li p {
  color: var(--fgClr);
}
.ratingList ul li svg {
  margin-bottom: 0.2rem;
}
/* //? SERIES & ADDITIONS */
.siblings {
  /* padding: 0.5rem; */
  /* margin-bottom: 1rem; */
}
/* //? BOTTOM DETAILS */
.bottomDetails {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}
.bottomDetails h4 {
  display: grid;
  grid-template-columns: minmax(180px, 1fr);
  font-size: 1.2rem;
  color: var(--accentClr);
  margin-bottom: 0.2rem;
}
.bottomDetails h4 span {
  font-weight: 400;
  font-size: 14px;
  color: var(--fontClr);
}
.bottomDetails h4 strong {
  font-size: 15px;
  margin-bottom: 0.1rem;
}
/* //? DEVS INFO */
.devsInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 0.5rem;
}
.devsInfo li {
  background-color: rgb(229, 142, 39, 0.3);
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  gap: 0.3rem;
  box-shadow: 0 0 7px rgba(229, 142, 39, 0.3);
}
.devsInfo li p {
  font-size: 14px;
  font-weight: bold;
  flex-direction: column;
  align-items: baseline;
}
.devsInfo li p span {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 12px;
}
.devsInfo img {
  max-width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .details {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .detailsContainer h2 {
    font-size: 1.8rem;
    margin: 0 auto 0.3rem;
  }
}
@media (max-width: 600px) {
  /* .devsInfo {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  } */
  .devsInfo li p {
    font-size: 13px;
  }
  .devsInfo img {
    max-width: 25px;
  }
}
@media (max-width: 480px) {
  .devsInfo li p {
    width: 100%;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: space-between;
  }
}
@media (max-width: 400px) {
  .detailsContainer h2 {
    font-size: 1.2rem;
  }
  .left p {
    flex-wrap: wrap;
  }
  .desc p {
    font-size: 14px;
    display: block;
  }
}
