/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}
/* //! Variables */
:root {
  --darkClr: #161a1e;
  --lightClr: #f5fbfb;
  --bgClr: var(--darkClr);
  --fgClr: var(--lightClr);
  --shadow: hsl(0, 0%, 60%, 0.3);
  --midClr: #9a9a9a;
  --accentClr: #e58e27;
  --exceptionalLight: #87b342;
  --exceptionalDark: #396d1f;
  --recLight: #4269b3;
  --recDark: #1f2e6e;
  --mehLight: #b39542;
  --mehDark: #6e3e1f;
  --skipLight: #b3424b;
  --skipDark: #6e1f24;
  --bgOverlay: rgba(22, 26, 30, 0.8);
  --sideBarOverlay: rgba(22, 26, 30, 0.8);
  --fontClr: rgba(214, 214, 214, 0.8);
  --navClr: rgb(22, 26, 30, 0.9);
}
.light {
  --bgClr: var(--lightClr);
  --fgClr: var(--darkClr);
  --shadow: hsl(240, 7%, 5%, 0.3);
  --bgOverlay: rgba(245, 251, 251, 0.7);
  --fontClr: rgba(41, 41, 41, 0.8);
  --accentClr: hsl(33, 79%, 45%);
  --navClr: rgb(245, 251, 251, 0.9);
}
/* @media (prefers-color-scheme: light) {
  :root {
    --bgClr: var(--lightClr);
    --fgClr: var(--darkClr);
    --shadow: hsl(240, 7%, 5%, 0.3);
    --bgOverlay: rgba(245, 251, 251, 0.7);
    --fontClr: rgba(41, 41, 41, 0.8);
    --accentClr: hsl(33, 79%, 45%);
  }
} */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  font-family: 'Lato';
  background-color: var(--bgClr);
  color: var(--fgClr);
  margin-bottom: 2rem;
  overflow-x: hidden;
  transition: color 0.3s ease, background-color 0.3s ease;
  letter-spacing: 0.5px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: var(--fgClr);
}

button {
  border: none;
  cursor: pointer;
  transition: scale 0.3s ease;
}
button:active {
  scale: 0.95;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  /* display: block; */
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

/* ScrollBars */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 25px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-track {
  background: #636363;
}

::-webkit-scrollbar-thumb {
  background: var(--accentClr);
  border-radius: 20rem;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(33, 100%, 62%);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

/* //! RESET Ended */
button {
  border-radius: 0.5rem;
  background-color: var(--accentClr);
  color: var(--lightClr);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(229, 142, 39, 0.3);
}
button:disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.5;
}
button:disabled:is(:active, :focus) {
  scale: 1;
}
/* //! Utility Classes */
.flex {
  display: flex;
  align-items: center;
}
.capital {
  text-transform: capitalize;
  font-size: 1rem;
}
a.active > li {
  background-color: var(--accentClr);
  border-color: var(--accentClr);
  font-weight: bold;
}
/* //! App */
/* .app {
  width: 100%;
  height: 100vh;
} */

/* //! Navbar */
nav {
  width: 100%;
  /* background-color: var(--bgClr); */
  /* background-color: rgb(22, 26, 30, 0.9); */
  background-color: var(--navClr);
  backdrop-filter: blur(3px);
  color: var(--fgClr);
  padding: 0.7rem 1rem;
  box-shadow: 0 0 15px var(--shadow);
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  border-bottom: 1px solid var(--accentClr);
  transition: color 0.3s ease, background-color 0.3s ease;
}
.navbar {
  gap: 0.1rem;
}
nav a {
  color: var(--accentClr);
}
nav h4 {
  font-size: 1.8rem;
}
nav h4,
nav .menuBtn,
.light-dark-mode {
  transition: scale 0.3s ease, background-color 0.3s ease;
  padding: 0.1rem;
  border-radius: 0.5rem;
}
nav h4:active,
nav .menuBtn:active,
.light-dark-mode:active {
  scale: 0.85;
}
nav h4:hover,
nav .menuBtn:hover,
.light-dark-mode:hover {
  background-color: hsl(33, 79%, 53%, 0.15);
}
nav .searchBar {
  flex: 0.9;
  position: relative;
}
.searchBar .icon {
  all: initial;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  display: grid;
  place-content: center;
  border: none;
  outline: none;
}
.icon svg {
  color: var(--accentClr);
}
nav input {
  border-radius: 2rem;
  width: 100%;
  padding: 0.6rem 1rem;
  border: none;
  border: 2px solid var(--accentClr);
  background-color: hsl(33, 79%, 53%, 0.35);
  color: var(--fgClr);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

nav input::placeholder {
  color: hsl(33, 79%, 53%, 0.8);
}
nav input:hover,
nav input:focus {
  background-color: var(--bgClr);
}
nav input:focus {
  box-shadow: 0 2px 5px var(--shadow);
}
nav .light-dark-mode {
  cursor: pointer;
  display: grid;
  place-items: center;
}
.light-dark-mode svg,
.menuBtn svg {
  font-size: 2rem;
}
.main {
  /* display: flex;
  position: relative; */
  padding: 0.7rem 1rem;
  width: 100%;
  position: relative;
}
/* .layout {
  padding: 0.7rem 1rem;
  width: 100%;
} */
.rt_top,
.rt_good,
.rt_below_avg,
.rt_bad {
  padding: 0.1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 35px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.excellent {
  color: var(--exceptionalLight) !important;
}
.good {
  color: var(--recLight) !important;
}
.average {
  color: var(--mehLight) !important;
}
.poor {
  color: var(--skipLight) !important;
}
.rt_top {
  color: var(--exceptionalLight) !important;
  border: 1px solid var(--exceptionalLight);
}
.rt_good {
  color: var(--recLight) !important;
  border: 1px solid var(--recLight);
}
.rt_below_avg {
  color: var(--mehLight) !important;
  border: 1px solid var(--mehLight);
}
.rt_bad {
  color: var(--skipLight) !important;
  border: 1px solid var(--skipLight);
}
.react-player {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: 16 / 9;
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
}
/* //? LOADER */
.loader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* //? SEARCH FEED */
.searchFeed h3 {
  margin-bottom: 1.5rem;
}
.searchFeed h3 span {
  margin-left: 0.2rem;
  /* text-transform: capitalize; */
}
/* //? TOP BTN */
.topBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 0.5rem;
  bottom: 1rem;
  z-index: 50;
  box-shadow: 0 0 20px rgba(229, 142, 39, 0.7);
  opacity: 0;
  pointer-events: none;
}
.topBtn.show {
  pointer-events: all;
  animation: pop 300ms ease-out forwards;
}
.topBtn.remove {
  pointer-events: none;
  animation: out 300ms ease-out forwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    scale: 0.3;
  }
  50% {
    opacity: 1;
    scale: 1.2;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}
@keyframes out {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.3;
  }
}

@media (max-width: 600px) {
  nav,
  .main {
    padding-inline: 0.3rem;
  }
  nav h4 {
    font-size: 1.2rem;
  }
  nav .searchBar {
    flex: 0.95;
  }
  nav input {
    padding-inline: 0.6rem;
  }
  .light-dark-mode svg,
  .menuBtn svg {
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  nav h4 {
    font-size: 1rem;
  }
  nav input {
    padding-block: 0.5rem;
    border-width: 1px;
  }
  .light-dark-mode svg,
  .menuBtn svg {
    font-size: 1.2rem;
  }
  /* //? react-responsive-carousel */
  .carousel .control-dots {
    margin: 0.2rem 0;
  }
  .carousel .control-dots .dot {
    margin-left: 0.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 400px) {
  .topBtn {
    height: 40px;
    width: 40px;
  }
  .topBtn svg {
    font-size: 1.4rem;
  }
}
