.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 55%;
  left: 50%;
  translate: -50% -50%;
  /* top: 5vh;
  left: 10%;
  width: 80%; */
  max-width: 98%;
  background-color: var(--darkClr);
  color: var(--lightClr);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 25px rgba(229, 142, 39, 0.2);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 950px) {
  .modal {
    top: 53%;
    width: 75%;
  }
}
@media (max-width: 600px) {
  .modal {
    width: 95%;
    padding: 0.5rem;
  }
}
